<table style="border:0;background-color:#f6f7fa;border-collapse:collapse" width="100%" height="100%" cellspacing="0"
    cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <table style="border:0;background-color:#f6f7fa" width="550" cellspacing="0" cellpadding="0"
                    align="center">
                    <tbody>
                        <tr>
                            <td colspan="4">

                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" height="30"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top" align="center">
                                                <a style="display:inline-block;text-align:center">
                                                    <!-- <img src="https://ci5.googleusercontent.com/proxy/-11ZBHzn7MTCT4gq_6IrtdSHrm1etjyOrOcZzpSvAHRFTD5Dav8CtSOcOBP3eo0akGPPxvYtaWvgTolXi0L6bFQIgX8=s0-d-e1-ft#https://api.outinvoice.com/static/images/logo.png"
                                                        alt="outinvoice-logo" style="max-width:258px;height:auto"
                                                        class="CToWUd" width="530" height="58" border="0"> -->
                                                    <img src="" alt="cubixtech-logo" style="max-width:258px;height:auto"
                                                        class="CToWUd" width="530" height="58" border="0">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="30"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table style="border:0;background-color:#fff;border-radius:8px" width="100%"
                                    cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td height="40"></td>
                                        </tr>
                                        <tr
                                            style="font-family:Inter,sans-serif;color:#4e5c6e;font-size:14px;line-height:20px;margin-top:20px">
                                            <td colspan="2" style="padding-left:80px;padding-right:80px" valign="top"
                                                align="center">
                                                <table style="border:0;background-color:#fff" width="100%"
                                                    cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2" cellpadding="3" valign="bottom"
                                                                align="center">

                                                                <u></u>

                                                                <u></u>
                                                                <u></u>
                                                                <u></u>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <span
                                                                    style="color:#2e3b44;font-size:24px;line-height:1;font-weight:600">
                                                                    View your Invoice {{var1}}{{content}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="24"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background-color:#dae1e9" height="1"></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="24"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <span
                                                                    style="color:#56666d;font-size:14px;line-height:24px">
                                                                    Please click on the link below, to view your
                                                                    invoice.
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="48%" valign="top" align="center">

                                                                <span>

                                                                    <a href="http://127.0.0.1:8000/generateInvoice/1"
                                                                        id="m_8543135423298940453invoicing_params"
                                                                        style="display:block;padding:16px 32px;background-color:#3eb53e;color:#ffffff;border-radius:5px;text-decoration:none;font-size:16px;line-height:1;font-weight:500"
                                                                        target="_blank">View
                                                                        Invoice
                                                                    </a>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <hr height="1"
                                                                    style="border:0;border-top:2px solid #dae1e9"
                                                                    width="70">

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>
                                                        <tr>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="60"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" height="60"></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <span style="color:#56666d;font-size:14px;line-height:38px">
                                                    Powered by <img src="" alt="cubixtech-logo"
                                                        style="max-width:208px;height:15px" class="CToWUd" width="210"
                                                        height="38" border="0">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="60"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<img src="https://ci3.googleusercontent.com/proxy/IfZzVH7i6g0LLRPpHrkZgznJsnUrileOyftJ5CsPWoI7EhF54wwIid9kjxVDzv_sl8trxJE0PzqJvWwSseYxO6BHuJ-3ikGJSuklpbKgWLqUETF0_fDiXvIIoUNPjlDIaS1NLY70LAIMo3-BfK_XVQUKIC4wKXjuKZ9ixo5oP-O8AfGoUNbuDDLO7FWlQVZ-iIMOKgmT7lFDOzKtJbg4qIefBa9O7du0zeHco3E1L02qhOzIN9mHoGM0yIT13lryXuGgqYT6CVc9t27iyarY30BCVP_e_0x_HYrOK5ao_yS3ngdQwpaG6yf8gwHSwZChYj3lGGQ4avTs_4aM81Wn8Eo7tsD0guOqYQvB1q-cqBFdqNsGd-SNCAAw2VK_ndNSMQRv8YQ04UibFhDzPQ59vCE5zOyviYzE3ieXBQ=s0-d-e1-ft#https://u20966115.ct.sendgrid.net/wf/open?upn=h2Vqjetdj9BQyzEmxOpBzcqupZUuhkLC7Aa7td-2F6BTeIm89ypDDWduRI4BnkerxHRRtpmPaX-2FO56Rrn4-2Fpzlr8cENxYgTZgfhecsSL3tdpAfJ2gcKaDeUQV1MYgkkIdBjYTCTI-2F8nESmzqxEB57kFwYYMEuEyrsyrkwFtC-2F6ohOjARLGA8PnOUHtJ7O5-2FYnRcdJQxFnmKZ91GdC5ttDkJCIokBblfLoOM68AMRizw6k-3D"
    alt=""
    style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"
    class="CToWUd" width="1" height="1" border="0">

{{data.invoice_id}}
{{data.notes}}
{{data.total_amount}}